<template>
  <div class="m-4">
    <b-container>
      <b-nav>
        <b-nav-item to="/" >{{nav.token}}</b-nav-item>
<!--        <b-nav-item to="/gamecenter/scopes_list/" >{{nav.scopes}}</b-nav-item>-->
<!--        <b-nav-item to="/gamecenter/api_usage_list/" active-class="y-text-warning">{{nav.usage}}</b-nav-item>-->
<!--        <b-nav-item to="/gamecenter/api_changelog_list/">{{nav.changelog}}</b-nav-item>-->
        <b-nav-item active-class="y-text-warning">{{nav.usage}}</b-nav-item>
        <b-nav-item>{{nav.changelog}}</b-nav-item>
        <b-nav-item-dropdown
          toggle-class="y-text-warning"
          id="my-nav-dropdown"
          :text="nav.center"
          right
        >
          <b-dropdown-item to="/gamecenter/center_list/" >{{nav.authentication}}</b-dropdown-item>
<!--          <b-dropdown-item to="/gamecenter/change_email_list/">{{nav.mailbox_setting}}</b-dropdown-item>-->
          <b-dropdown-item to="/gamecenter/change_password/">{{nav.password_setting}}</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-nav>

<!--      数据用途-->
      <div class="m-4">
        <div class="y-mt-6 text-left">
          <table class="font-weight-bold my-3">{{usages.name_api}}</table>
          <b-row style="display: flex;align-items: center">
            <b-col cols="2">
              <div class="y-text-warning" style="font-weight: bold;font-size: 20px">{{value}}/{{max}}</div>
              <div style="font-size: 5px;color:#AAAAAA;">{{usages.duration}}</div>
            </b-col>
            <b-col>
              <b-progress height="20px" :value="value" :max="max" show-progress animated></b-progress>
            </b-col>
          </b-row>
          <div>
            <div class="d-flex justify-content-between">
              <table class="font-weight-bold my-3">{{usages.name_data}}</table>
              <b-form inline>
                <label class="mr-sm-2">{{usages.time}}</label>
                <b-form-select
                  class="mb-2 mr-sm-2 mb-sm-0"
                  v-model="time"
                  :options="{
                    '1h': usages.hour,
                    'hour3': usages.hour3,
                    'hour12': usages.hour12,
                    'hour24': usages.hour24,
                    'hour3': usages.hour3,
                    'day3': usages.day3,
                    'day7': usages.day7,
                    }"
                >
                </b-form-select>
              </b-form>
            </div>
              <div style="display: flex;justify-content: space-between;margin: 40px 0" v-if="data_use_list.total">
                <div style="display: flex;align-items: center">
                  <b-img v-bind="mainProps" blank-color="#88f" alt="HEX shorthand color (#88f)"></b-img>
                  <div style="padding-left: 15px">
                    <p style="color: #ACACAC;font-weight: bold;font-size: 15px">{{usages.total}}</p>
                    <p style="font-weight: bold;margin: 0;padding-top: 13px">{{data_use_list.total.total_requests_byte}}</p>
                  </div>
                </div>
                <div style="display: flex;align-items: center">
                  <b-img v-bind="mainProps" blank-color="#88f" alt="HEX shorthand color (#88f)"></b-img>
                  <div style="padding-left: 15px">
                    <p style="color: #ACACAC;font-weight: bold;font-size: 15px">{{usages.response}}</p>
                    <p style="font-weight: bold;margin: 0;padding-top: 13px">{{data_use_list.total.total_requests}}</p>
                  </div>
                </div>
                <div style="display: flex;align-items: center">
                  <b-img v-bind="mainProps" blank-color="#88f" alt="HEX shorthand color (#88f)"></b-img>
                  <div style="padding-left: 15px">
                    <p style="color: #ACACAC;font-weight: bold;font-size: 15px">{{usages.delay1}}</p>
                    <p style="font-weight: bold;margin: 0;padding-top: 13px">{{data_use_list.total.total_p90}}</p>
                  </div>
                </div>
                <div style="display: flex;align-items: center">
                  <b-img v-bind="mainProps" blank-color="#88f" alt="HEX shorthand color (#88f)"></b-img>
                  <div style="padding-left: 15px">
                    <p style="color: #ACACAC;font-weight: bold;font-size: 15px">{{usages.delay}}</p>
                    <p style="font-weight: bold;margin: 0;padding-top: 13px">{{data_use_list.total.total_p99}}</p>
                  </div>
                </div>
              </div>
            <div>
              <table class="font-weight-bold my-3">{{usages.total_name}}</table>
              <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                  <th scope="col">{{usages.table_use.request}}</th>
                  <th scope="col">{{usages.table_use.endpoint}}</th>
                  <th scope="col">{{usages.table_use.delay}}</th>
                  <th scope="col" width="100px">{{usages.table_use.p50}}</th>
                  <th scope="col" width="100px">{{usages.table_use.p90}}</th>
                  <th scope="col" width="100px">{{usages.table_use.p99}}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in data_use_list.list" :key="index">
                  <th scope="row">{{item.path}}</th>
                  <td></td>
                  <td>{{item.sum_res_1h}}</td>
                  <td></td>
                  <td>{{item.p90}}</td>
                  <td>{{item.p99}}</td>
                </tr>
                </tbody>
              </table>
              <div class="overflow-auto">
                <b-pagination
                  v-model="currentPage"
                  :total-rows="rows"
                  :per-page="perPage"
                  @change="linkGen"
                  align="center"
                  pills
                  first-number
                ></b-pagination>
              </div>
            </div>

            <div>
              <table class="font-weight-bold my-3">{{usages.table_err.title_hint}}</table>
              <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                  <th scope="col">{{usages.table_err.request}}</th>
                  <th scope="col">{{usages.table_err.count}}</th>
                  <th scope="col">{{usages.table_err.response}}</th>
                  <th scope="col" width="100px">{{usages.table_err.code}}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in data_err_list" :key="index">
                  <th scope="row">{{item.path}}</th>
                  <td>{{item.sum_res_1h}}</td>
                  <td>{{item.p90}}</td>
                  <td>{{item.p99}}</td>
                </tr>
                </tbody>
              </table>
              <div class="overflow-auto">
                <b-pagination
                  v-model="currentPage2"
                  :total-rows="rows2"
                  :per-page="perPage2"
                  @change="linkGen2"
                  align="center"
                  pills
                  first-number
                ></b-pagination>
              </div>
            </div>

            <div>
              <div class="d-flex justify-content-between">
                <table class="font-weight-bold my-3">{{usages.table_log.title_hint}}</table>
                <b-form inline>
                  <label class="mr-sm-2">{{usages.table_log.status}}</label>
                  <b-form-select
                    class="mb-2 mr-sm-2 mb-sm-0"
                    v-model="status"
                    :options=options
                  >
                  </b-form-select>
                </b-form>
              </div>
              <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                  <th scope="col" width="25%">{{usages.table_log.request}}</th>
                  <th scope="col">{{usages.table_log.params}}</th>
                  <th scope="col" width="100px">{{usages.table_log.response}}</th>
                  <th scope="col" width="100px">{{usages.table_log.code}}</th>
                  <th scope="col" width="110px">{{usages.table_log.date}}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in data_log_list" :key="index">
                  <th scope="row">{{item.path}}</th>
                  <td>{{item.parameter}}</td>
                  <td>{{item.run_time}}</td>
                  <td>{{item.code}}</td>
                  <td>{{item.date}}</td>
                </tr>
                </tbody>
              </table>
              <div class="overflow-auto">
                <b-pagination
                  v-model="currentPage1"
                  :total-rows="rows1"
                  :per-page="perPage1"
                  @change="linkGen1"
                  align="center"
                  pills
                  first-number
                ></b-pagination>
              </div>
            </div>
          </div>
        </div>

      </div>
    </b-container>
  </div>

</template>

<script>
  import { data_statistics_record, data_user_record } from '../../api/user'
export default {
    name: "api_usage_list",
  data() {
    return {
      options: { 'all': 'ALL', '200': '200', '400': '400', '401': '401', '403': '403', '404': '404', '422': '422', '500': '500'},
      rows1: 100,
      currentPage1: 1,
      perPage1: 6,
      rows2: 100,
      currentPage2: 1,
      perPage2: 6,
      data_log_list: [],
      data_err_list: [],
      status: 'all',
      mainProps: { blank: true, width: 75, height: 75, class: 'm1' },
      rows: 100,
      currentPage: 1,
      perPage: 6,
      data_use_list: {},
      time: '1h',
      value: 45,
      max: 100,
      nav: {
        token: this.$t('nav.token'),
        scopes: this.$t('nav.scopes'),
        usage: this.$t('nav.usage'),
        changelog: this.$t('nav.changelog'),
        center: this.$t('nav.center'),
        authentication:  this.$t('nav.authentication'),
        mailbox_setting: this.$t('nav.mailbox_setting'),
        password_setting: this.$t('nav.password_setting')
      },
      // 数据用途
      usages: {
        name_api: this.$t('usages.name_api'),
        duration: this.$t('usages.duration'),
        name_data: this.$t('usages.name_data'),
        time: this.$t('usages.time'),
        hour: this.$t('usages.hour'),
        hour3: this.$t('usages.hour3'),
        hour12: this.$t('usages.hour12'),
        hour24: this.$t('usages.hour24'),
        day3: this.$t('usages.day3'),
        day7: this.$t('usages.day7'),
        total: this.$t('usages.total'),
        total_name: this.$t('usages.total_name'),
        response: this.$t('usages.response'),
        delay1: this.$t('usages.delay1'),
        delay: this.$t('usages.delay'),
        prve: this.$t('usages.prve'),
        next: this.$t('usages.next'),
        table_use: {
          request: this.$t('usages.table_use.request'),
          endpoint: this.$t('usages.table_use.endpoint'),
          delay: this.$t('usages.table_use.delay'),
          p50: this.$t('usages.table_use.p50'),
          p90: this.$t('usages.table_use.p90'),
          p99: this.$t('usages.table_use.p99'),
        },
        table_log: {
          title_hint: this.$t('usages.table_log.title_hint'),
          status: this.$t('usages.table_log.status'),
          request: this.$t('usages.table_log.request'),
          endpoint: this.$t('usages.table_log.endpoint'),
          params: this.$t('usages.table_log.params'),
          response: this.$t('usages.table_log.response'),
          date: this.$t('usages.table_log.date'),
          code: this.$t('usages.table_err.code')
        },
        table_err: {
          title_hint: this.$t('usages.table_err.title_hint'),
          request: this.$t('usages.table_err.request'),
          count: this.$t('usages.table_err.count'),
          response: this.$t('usages.table_err.response'),
          code: this.$t('usages.table_err.code')
        }
      }
    }
  },
  watch: {
    time() {
      this.currentPage = 1
      this.getInfo()
    },
    status() {
      this.currentPage1 = 1
      this.getLogInfo()
    }
  },
  mounted() {
    this.getInfo()
    this.getLogInfo()
    this.getInfoErr()
  },
  methods: {
    linkGen(pageNum) {
      this.currentPage = pageNum
      this.getInfo()
    },
    linkGen1(pageNum) {
      this.currentPage1 = pageNum
      this.getLogInfo()
    },
    linkGen2(pageNum) {
      this.currentPage1 = pageNum
      this.getInfoErr()
    },
    getInfoErr() {
      const params = {}
      params['page'] = this.currentPage2
      params['per_page'] = this.perPage2
      params['duration_type'] = this.status
      data_user_record(params).then(res => {
        this.rows2 = res.data.count
        this.data_err_list = res.data.list
      })
    },
    getLogInfo() {
      const params = {}
      params['page'] = this.currentPage1
      params['per_page'] = this.perPage1
      params['duration_type'] = this.status
      data_user_record(params).then(res => {
        this.rows1 = res.data.count
        this.data_log_list = res.data.list
      })
    },
    getInfo() {
      const params = {}
      params['page'] = this.currentPage
      params['per_page'] = this.perPage
      params['duration_type'] = this.time
      data_statistics_record(params).then(res => {
        this.rows = res.data.count
        this.data_use_list = res.data
      })
    }
  }
}
</script>

<style scoped>
  .table {
    table-layout:fixed;
    word-break:break-all;
    /*text-align: center !important;*/
  }
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
  }
  .y-text-warning {
    color: #F59A23 !important;
  }
  .y-mt-6 {
    /*margin-top: 3rem !important;*/
    padding: 1rem;

  }
  .y-pt-7 {
    padding-top: 7px !important;
  }
</style>
