<template>
  <div style="background-color: #F0F4FA;">
    <b-container fluid class="bv-example-row bv-example-row-flex-cols">
      <b-row align-h="center" align-v="center" style="padding-top: 150px">
          <b-card
            :title="user_register_title.title"
            tag="article"
            style="width: 30rem;"
            class="mb-2 shadow-lg y-text-warning font-weight-bold "
          >
            <b-card-body>
              <b-form >
                <b-form-group class="text-body" :label="user_register_title.username" style="text-align: start">
                  <b-form-input
                    name="username"
                    :data-vv-as=message.username
                    v-validate.continues="{requireds: true, email: true}"
                    :state="validateState('username')"
                    v-model="register.username"
                    :placeholder="user_register_title.username_hint"
                  ></b-form-input>
                  <b-form-invalid-feedback id="username">{{veeErrors.first('username')}}</b-form-invalid-feedback>
                </b-form-group>
                <b-form-group class="text-body" :label="user_register_title.cold" style="text-align: start">
                  <b-form inline>
                    <b-form-input
                      name="code"
                      :data-vv-as=message.code
                      v-validate.continues="'requireds'"
                      :state="validateState('code')"
                      v-model="register.code"
                      required
                      :placeholder="user_register_title.cold_hint"
                      class="w-50"
                    ></b-form-input>
                    <div class="w-50 pl-1">
                      <b-button v-if="isgetCode" class=" w-100 btn-violet" variant="warning"  @click="getCode()" style="padding-left: 0;padding-right: 0">{{user_register_title.subCold}}</b-button>
                      <b-button v-if="!isgetCode && !isActive" class=" w-100 btn-violet" variant="warning" disabled>{{count+'s'}}</b-button>
                      <b-button v-if="!isgetCode && isActive" class=" w-100 btn-violet" variant="warning"  @click="getCode()">{{user_register_title.subCold}}</b-button>
                    </div>
                    <b-form-text v-if="isCode">{{user_register_title.cold_message}}</b-form-text>
                    <b-form-invalid-feedback id="code">{{veeErrors.first('code')}}</b-form-invalid-feedback>
                  </b-form>
                </b-form-group>
                <b-form-group class="text-body" :label="user_register_title.title1" style="text-align: start">
                  <b-form-input
                    name="password"
                    :data-vv-as=message.password
                    v-validate.continues="{requireds: true, y_password: true}"
                    :class="{'is-danger': veeErrors.has('password')}"
                    placeholder="Password"
                    ref="password"
                    :state="validateState('password')"
                    type="password"
                    v-model="register.password"
                    :placeholder="user_register_title.password_hint"></b-form-input>
                  <b-form-invalid-feedback v-show="veeErrors.has('password')" class="help is-danger" style="text-align: left">{{ veeErrors.first('password') }}</b-form-invalid-feedback>
                </b-form-group>
                <b-form-group class="text-body" :label="user_register_title.title2" style="text-align: start">
                  <b-form-input
                    v-validate="'required|confirmed:password'"
                    name="password_confirmation"
                    :data-vv-as=message.password1
                    :class="{'is-danger': veeErrors.has('password_confirmation')}"
                    placeholder="Password, Again"
                    :state="validateState('password_confirmation')"
                    type="password"
                    v-model="register.password_is"
                    :placeholder="user_register_title.password_hint_is"></b-form-input>
                  <b-form-invalid-feedback v-show="veeErrors.has('password_confirmation')" class="help is-danger" style="text-align: left">{{ veeErrors.first('password_confirmation') }}</b-form-invalid-feedback>
                </b-form-group>
                <b-form-text class="text-left m-2">{{user_register_title.footer}}</b-form-text>
                <b-button class="px-5 text-light btn-violet" variant="warning" @click="onRegister">{{user_register_title.login}}</b-button>
              </b-form>
              <div class="border-top my-3 "></div>
              <div class="mt-2">
                <span class="text-body">{{user_register_title.account}}</span>
                <b-link class="px-0 y-text-warning" variant="link" @click="onLogin">{{user_register_title.account1}}</b-link>
              </div>
            </b-card-body>
          </b-card>
      </b-row>
    </b-container>

  </div>
</template>

<script>
  import { registrator, register_send_email } from '@/api/user'

  const TIME_COUNT = 60
  export default {
        name: "index",
      data() {
        return {
          isCode: false,
          dismissSecs: 10,
          dismissCountDown: 10,
          isgetCode:true,
          isActive: false,
          count: 0,
          timer: null,
          register: {
            username: '',
            password: '',
            password_is: '',
            code: ''
          },
          message: {
            username: this.$t('message.username'),
            password: this.$t('message.password'),
            password1: this.$t('message.password1'),
            code: this.$t('message.code'),
            hint_win: this.$t('message.hint_win'),
          },
          user_register_title: {
            username: this.$t('user_register.username'),
            username_hint: this.$t('user_register.username_hint'),
            password_hint: this.$t('user_register.password_hint'),
            password_hint_is: this.$t('user_register.password_hint_is'),
            login: this.$t('user_register.login'),
            cold: this.$t('user_register.cold'),
            cold_hint: this.$t('user_register.cold_hint'),
            subCold: this.$t('user_register.subCold'),
            title1: this.$t('user_register.title1'),
            title2: this.$t('user_register.title2'),
            title: this.$t('user_register.title'),
            account: this.$t('user_register.account'),
            account1: this.$t('user_register.account1'),
            footer: this.$t('user_register.footer'),
            cold_message: this.$t('user_register.cold_message'),
          }
        }
      },
      methods: {
        validateState(ref) {
          if (
            this.veeFields[ref] &&
            (this.veeFields[ref].dirty || this.veeFields[ref].validated)
          ) {
            return !this.veeErrors.has(ref);
          }
          return null;
        },
        getCode() {
          this.$validator.validate('username').then(result => {
            if (!result) {
              return;
            }
            const params = {}
            params['email'] = this.register.username
            register_send_email(params).then(res => {
              this.$bvToast.toast(this.message.hint_win, {
                noCloseButton: true,
                variant: 'success',
                toaster: 'b-toaster-top-center',
                solid: true
              })
              this.isCode = true
              this.isgetCode = false;
              if (!this.timer) {
                this.count = TIME_COUNT;
                this.isActive = false;
                this.timer = setInterval(() => {
                  if (this.count > 0 && this.count <= TIME_COUNT) {
                    this.count--;
                  } else {
                    this.isActive = true;
                    clearInterval(this.timer);
                    this.timer = null;
                  }
                }, 1000);
              }
            })
          });
        },
        onLogin() {
          this.$router.push('/login')
        },
        onRegister() {
          this.$validator.validateAll().then(result => {
            if (!result) {
              return ;
            }
            const params = {}
            params['email'] = this.register.username
            params['code'] = this.register.code
            params['password'] = this.register.password
            params['confirm_password'] = this.register.password_is
            registrator(params).then(res => {
              this.$root.$bvToast.toast(this.message.hint_win, {
                noCloseButton: true,
                variant: 'success',
                toaster: 'b-toaster-top-center',
                solid: true
              })
              this.$router.push('/login')
            })
          })
        }
      }
    }
</script>

<style scoped>

</style>
