<template>
    <div class="m-4">
      <b-container>
        <b-nav>
          <b-nav-item to="/" active-class="y-text-warning">{{nav.token}}</b-nav-item>
<!--          <b-nav-item to="/gamecenter/scopes_list/">{{nav.scopes}}</b-nav-item>-->
<!--          <b-nav-item to="/gamecenter/api_usage_list/">{{nav.usage}}</b-nav-item>-->
<!--          <b-nav-item to="/gamecenter/api_changelog_list/">{{nav.changelog}}</b-nav-item>-->
          <b-nav-item>{{nav.usage}}</b-nav-item>
          <b-nav-item>{{nav.changelog}}</b-nav-item>
          <b-nav-item-dropdown
            toggle-class="y-text-warning"
            id="my-nav-dropdown"
            :text="nav.center"
            right
          >
            <b-dropdown-item to="/gamecenter/center_list/" >{{nav.authentication}}</b-dropdown-item>
<!--            <b-dropdown-item to="/gamecenter/change_email_list/">{{nav.mailbox_setting}}</b-dropdown-item>-->
            <b-dropdown-item to="/gamecenter/change_password/">{{nav.password_setting}}</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-nav>


        <div class="y-mt-6">
          <h2 v-if="token_list.length == 0" class="my-5" style="color: #303030">{{scopes_title.token}}</h2>
          <div v-if="token_list.length>0">
            <b-form-group class="text-body font-weight-bold my-3" :label="key_title.title_list.title" style="text-align: start">
            </b-form-group>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">{{key_title.title_list.token}}</th>
                <th scope="col">{{key_title.title_list.state}}</th>
                <th scope="col">{{key_title.title_list.option}}</th>
              </tr>
              </thead>
              <tbody v-if="token_list.length>0">
              <tr v-for="(item,index) in token_list">
                <td width="700px">
                  <div>
                    <b-input-group size="md">
                      <b-form-input :type="password_atate(index)" aria-label="Large text input with switch" v-model="item.token" disabled></b-form-input>
                      <b-input-group-append is-text>
                        <b-icon icon="eye" @click="on_password_atate(index)"></b-icon>
                      </b-input-group-append>
                      <b-input-group-append is-text>
                        <b-icon icon="files" @click="onCopy(item.token)"></b-icon>
                      </b-input-group-append>
                    </b-input-group>
                  </div>
                </td>
                <td>
                  <div v-if="item.is_revoke">
                    <b-button v-if="item.is_revoke === 1"  variant="success" disabled style="width: 80px">{{key_title.title_list.active}}</b-button>
                    <b-button v-else variant="danger" disabled style="width: 80px">{{key_title.title_list.disable}}</b-button>
                  </div>
                </td>
                <td>
                <span v-if="item.is_revoke">
                  <b-button v-if="item.is_revoke === 1" class="y-btn-danger" variant="danger" @click="onEdit(item.id, 1)" style="width: 100px">{{key_title.title_list.butStop}}</b-button>
                  <b-button v-if="item.is_revoke === 2" class="y-btn-outline-success" variant="success" @click="onEdit(item.id, 2)" style="width: 100px">{{key_title.title_list.bueEnable}}</b-button>
                  <b-button variant="warning btn-violet" @click="onRest(item.id)" style="width: 100px">{{key_title.title_list.butRevoke}}</b-button>
                </span>
                  <b-button v-if="token_list.length < 3" variant="info" @click="onTokenAdd" style="width: 100px">{{key_title.title_list.butCreate}}</b-button>
                </td>
              </tr>
              </tbody>
            </table>
            <b-form inline>
              <b-form-text style="text-align: start">{{key_title.title_hint.subtitle}}&nbsp;</b-form-text>
              <b-link @click="sub"  class="text-right px-0 text-decoration-none y-text-warning font-weight-bold">{{key_title.title_hint.buttle}}</b-link>
              <b-form-text style="text-align: start">&nbsp;{{key_title.title_hint.subtitle1}}</b-form-text>
            </b-form>
            <div>
              <b-form-group class="text-body font-weight-bold my-3" :label="scopes_title.plan" style="text-align: start">
              </b-form-group>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">{{scopes_title.type}}</th>
                  <th scope="col">{{scopes_title.time}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td v-if="$store.state.user.lang.lang == 'zh'">{{$shaoxia.safeProps(()=>data_list.set_meal.group_name_cn,'') }}</td>
                  <td v-if="$store.state.user.lang.lang == 'en'">{{$shaoxia.safeProps(()=>data_list.set_meal.group_name,'') }}</td>
                  <td>{{$shaoxia.safeProps(()=>data_list.set_meal.maturities,'')}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <b-form-group class="text-body font-weight-bold my-3" :label="scopes_title.games" style="text-align: start">
          </b-form-group>
          <div style="background-color: white">
            <b-container class="bv-example-row pb-5">
              <b-row v-if="data_list">
                <b-col cols="1" v-for="(item,index) in data_list.games" :key="index">
                  <div v-if="item.is_stale" v-b-tooltip.hover :title= "scopes_title.time+':'+item.expiration_at">
                    <b-img :src=item.logo alt="Left image" width="70rem" class="p-3"></b-img>
                    <div v-if="!item.is_stale" class="status-null"></div>
                    <div v-if="item.is_stale == 1" class="status-begin"></div>
                    <div v-if="item.is_stale == 2" class="status-stop"></div>
                  </div>
                  <div v-else>
                    <b-img :src=item.logo alt="Left image" width="70rem" class="p-3"></b-img>
                    <div v-if="!item.is_stale" class="status-null"></div>
                    <div v-if="item.is_stale == 1" class="status-begin"></div>
                    <div v-if="item.is_stale == 2" class="status-stop"></div>
                  </div>
                </b-col>
              </b-row>
            </b-container>
          </div>
        </div>
      </b-container>

    </div>
</template>

<script>
  import { getToken, token_add, getTokenAgain, token_edit, data_power } from '../../api/user'
  import { apiUrl } from '../../api/api'
    export default {
        name: "index",
      data() {
          return {
            data_list: '',
            id: '',
            password_atate3: 'password',
            password_atate1: 'password',
            password_atate2: 'password',
            token_list: [],
            token_info: {
              token: ''
            },
            nav: {
              token: this.$t('nav.token'),
              scopes: this.$t('nav.scopes'),
              usage: this.$t('nav.usage'),
              changelog: this.$t('nav.changelog'),
              center: this.$t('nav.center'),
              authentication:  this.$t('nav.authentication'),
              mailbox_setting: this.$t('nav.mailbox_setting'),
              password_setting: this.$t('nav.password_setting')
            },
            // 数据权限
            scopes_title: {
              token: this.$t('scopes.token'),
              plan: this.$t('scopes.plan'),
              free: this.$t('scopes.free'),
              basic: this.$t('scopes.basic'),
              professional: this.$t('scopes.professional'),
              primary: this.$t('scopes.primary'),
              games: this.$t('scopes.games'),
              type: this.$t('scopes.type'),
              time: this.$t('scopes.time')
            },
            key_title: {
              title: this.$t('key_title.title'),
              title_hint: {
                subtitle: this.$t('key_title.title_hint.subtitle'),
                buttle: this.$t('key_title.title_hint.buttle'),
                subtitle1: this.$t('key_title.title_hint.subtitle1'),
              },
              title_list: {
                title: this.$t('key_title.title_list.title'),
                token: this.$t('key_title.title_list.token'),
                state: this.$t('key_title.title_list.state'),
                option: this.$t('key_title.title_list.option'),
                active: this.$t('key_title.title_list.active'),
                disable: this.$t('key_title.title_list.disable'),
                butRevoke: this.$t('key_title.title_list.butRevoke'),
                bueEnable: this.$t('key_title.title_list.bueEnable'),
                butCreate: this.$t('key_title.title_list.butCreate'),
                butStop: this.$t('key_title.title_list.butStop'),
                hint_begin: this.$t('key_title.title_list.hint_begin'),
                hint_stope: this.$t('key_title.title_list.hint_stope'),
                hint_reset: this.$t('key_title.title_list.hint_reset'),
                hint_win: this.$t('key_title.title_list.hint_win'),
                but_yse: this.$t('key_title.title_list.but_yse'),
                but_no: this.$t('key_title.title_list.but_no'),
                hint: this.$t('key_title.title_list.hint'),
                hint_copy: this.$t('key_title.title_list.hint_copy')
              }
            }
          }
      },
      mounted() {
        this.getTokenInfo()
        this.getData()
      },
      methods: {
          sub() {
            var routeData = apiUrl()
            window.open(routeData)
          },
        getData() {
          const params = {}
          data_power(params).then(res => {
            this.data_list = res.data
          })
        },
        onEdit(id, key) {
          var hint = ''
          if (key == 2) {
            hint = this.key_title.title_list.hint_begin
          } else {
            hint = this.key_title.title_list.hint_stope
          }
          this.$bvModal.msgBoxConfirm(hint, {
            title: this.key_title.title_list.hint,
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: this.key_title.title_list.but_yse,
            cancelTitle: this.key_title.title_list.but_no,
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          })
            .then(value => {
              if (value) {
                const params = {}
                params['token_id'] = id
                params['is_revoke'] = key
                token_edit(params).then(res => {
                  this.$bvToast.toast(this.key_title.title_list.hint_win, {
                    noCloseButton: true,
                    variant: 'success',
                    toaster: 'b-toaster-top-center',
                    solid: true
                  })
                  this.getTokenInfo()
                })
              }
            })
            .catch(err => {
            })
        },
        onRest(id) {
          this.$bvModal.msgBoxConfirm(this.key_title.title_list.hint_reset, {
            title: this.key_title.title_list.hint,
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: this.key_title.title_list.but_yse,
            cancelTitle: this.key_title.title_list.but_no,
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          })
            .then(value => {
              if (value) {
                const params = {}
                params['token_id'] = id
                getTokenAgain(params).then(res => {
                  this.$bvToast.toast(this.key_title.title_list.hint_win, {
                    noCloseButton: true,
                    variant: 'success',
                    toaster: 'b-toaster-top-center',
                    solid: true
                  })
                  this.getTokenInfo()
                })
              }
            })
            .catch(err => {
            })
        },
        onTokenAdd() {
          const params = {}
          token_add(params).then(res => {
            this.$bvToast.toast(this.key_title.title_list.hint_win, {
              noCloseButton: true,
              variant: 'success',
              toaster: 'b-toaster-top-center',
              solid: true
            })
            this.getTokenInfo()
          })
        },
        onCopy(data) {
          let url = data
          let oInput = document.createElement('input')
          oInput.value = url
          document.body.appendChild(oInput)
          oInput.select() //选择对象
          document.execCommand('copy'); // 执行浏览器复制命令
          this.$bvToast.toast(this.key_title.title_list.hint_copy, {
            noCloseButton: true,
            variant: 'success',
            toaster: 'b-toaster-top-center',
            solid: true
          })
          oInput.remove()
        },
          on_password_atate(id) {
          this.id = id
            switch (id) {
              case 0:
                if (this.password_atate1 === 'password') {
                  this.password_atate1 = 'text'
                } else {
                  this.password_atate1 = 'password'
                }
                break
              case 1:
                if (this.password_atate2 === 'password') {
                  this.password_atate2 = 'text'
                } else {
                  this.password_atate2 = 'password'
                }
                break
              case 2:
                if (this.password_atate3 === 'password') {
                  this.password_atate3 = 'text'
                } else {
                  this.password_atate3 = 'password'
                }
                break
            }
          },
        password_atate(id) {
          var atate = ''
          switch (id) {
            case 0:
              atate = this.password_atate1
                  break
            case 1:
              atate = this.password_atate2
              break
            case 2:
              atate = this.password_atate3
              break
          }
          return atate
        },
          getTokenInfo() {
            const params = {}
            getToken(params).then(res => {
              if (res.data.length>0) {
                this.token_list = res.data
              }
            })
          }
      }
    }
</script>

<style scoped>
  .y-mt-6 {
    /*margin-top: 3rem !important;*/
    padding: 1rem;
  }
  .y-text-warning {
    color: #F59A23 !important;
  }
  .status-begin {
    display: inline-block;
    position: absolute;
    left: 43px;
    top: 48px;
    border: 3px  solid white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #509f57;
  }
  .status-stop {
    display: inline-block;
    position: absolute;
    left: 43px;
    top: 48px;
    border: 3px  solid white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #bf5b51;
  }
  .status-null {
    display: inline-block;
    position: absolute;
    left: 43px;
    top: 48px;
    border: 3px  solid white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #b3b7bb;
  }
</style>
